---
label: Site Config
hide_body: true
display_field: metaTitle
fields:
- name: metaData
  type: field_group
  config: {}
  fields:
  - name: title
    type: text
    config:
      required: true
      max: 155
    label: Website Title
  - name: description
    type: text
    config:
      required: true
      max: 155
    label: Website Description
  - name: author
    type: text
    config:
      required: true
      max: 155
    label: Website Author
  - name: keywords
    type: tag_list
    default: []
    label: Website Keywords
  - name: ogImage
    type: file
    config:
      maxSize: 64
    label: Default Image
    description: Default Image used for when sending links to people or social media.
  label: Meta Data
- type: text
  name: metaTitle
  label: Page Title
  config:
    required: true
    max: 155
  default: Phone Number Directory - Antonio Nardini
- type: text
  name: metaDescription
  label: Page Description
  config:
    required: true
    max: 155
- name: baseURL
  type: text
  config:
    required: true
  label: base URL
- name: favicon
  type: file
  config:
    maxSize: 64
  label: Favicon
  description: Website Icon
- type: file
  name: logo
  label: Logo
  default: https://res.cloudinary.com/antonio-nardini/image/upload/v1663855106/logo_e2iunw.svg
- type: text
  name: logoText
  label: Logo Text
  config:
    required: true
pages:
- config/site.config.json
